<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UIWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UIWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if(Context.Session.GetString("rolLogueado") == null)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">INICIO</a>
                    
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    
                }
                @if(Context.Session.GetString("rolLogueado") == "CAPATAZ")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Capataz" asp-action="Index">HOME</a>
                }
                @if (Context.Session.GetString("rolLogueado") == "PEON")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Peon" asp-action="Index">HOME</a>
                }

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (Context.Session.GetString("rolLogueado") != null)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            @if (Context.Session.GetString("rolLogueado") == "PEON")
                            {
                                
                                 <li>
                                      <a class="nav-link text-dark" asp-area="" asp-controller="Peon" asp-action="DatosPersonales">Perfil</a>
                                 </li>
                                 <li>
                                      <a class="nav-link text-dark" asp-area="" asp-controller="Peon" asp-action="RegistrarVacunacion">Asignar Vacuna</a>
                                 </li>
                                 <li>
                                      <a class="nav-link text-dark" asp-area="" asp-controller="Peon" asp-action="Tareas">Tareas</a>
                                 </li>
                            }
                            @if (Context.Session.GetString("rolLogueado") == "CAPATAZ")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Peón
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Capataz" asp-action="ListadoPeones">Peones</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Capataz" asp-action="AsignacionDeTareasAPeones">Asignacion de Tareas</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Ganado
                                    </a>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Capataz" asp-action="ListadoGanados">Ganado</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Capataz" asp-action="AltaBovino">Alta Bovino</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Capataz" asp-action="ListadoGanadoLibre">Ganado Libre</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Capataz" asp-action="ListadoPotreros">Potreros</a>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogOut">LogOut</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Sistema de Ganado 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
